//Custom font-family from Google Fonts (Nunito)
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

//Tailwind Classes
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-corner,
body *::-webkit-scrollbar-corner {
  background-color: #bfc0ce;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //  background: linear-gradient(to bottom, #FAFAFA 80%,#FFFFFF 20%);
  background-color: #fafafa;
}

// IMPORTANT !!
.container {
  max-width: calc(100vw - 40px);
}

@media (min-width: 576px) {
  .container {
    max-width: calc(100vw - 60px);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: calc(100vw - 60px);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: calc(100vw - 60px);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
