
// styles for AirlineInsightPage
.airline-information-container {
    position: relative;
    z-index: 2;
    border-radius: 25px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;

    .airline-logo {
        height: 8rem;
        width: 20rem;
    }
}

.aircraft-fleet-and-orders {
    background: #FFFFFF;
    margin-top: 17.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    line-height: 1.6rem;

    .img-and-h2 {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
      }

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
}

.assesment-pilot {
    border-radius: 25px;
    background-color: $pilot-tile-airline;
    background-size: cover;
    padding: 28px;
    margin-left: auto;
    margin-right: auto;
  }

.assesment-cabin {
    border-radius: 25px;
    background-color: $cabin-tile-airline;
    background-size: cover;
    padding: 28px;
    margin-left: auto;
    margin-right: auto;
  }
  
.assesment-atc {
    border-radius: 25px;
    background-color: $atc-tile-airline;
    background-size: cover;
    padding: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .list {
    list-style-image: url("../../.././apps/web/assets/images/icons/checkbox.png");
    line-height: 1.6rem;
  }

  .benefits-text {
    color: #727481;

    strong {
        color: #ec008c;
    }

  }

// styles for AirlineInfoTiles
.main-tiles-container {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //justify-content: center;
   // height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    margin: 2rem 0;
    gap: 0.5rem;

.small-tiles {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 0.5rem;

    img {
        height: 1.5rem;
        width: 1.5rem;
    }

    h2, p {
        font-size: 0.7rem;
    }

}
}


@media (min-width: 400px) {
// styles for AirlineInfoTiles
.main-tiles-container {
.small-tiles {
    height: 10rem;

    img {
        height: 2rem;
        width: 2rem;
    }

    h2, p {
        font-size: 1rem;
    }

}
}
}

@media (min-width: 600px) {
    // styles for AirlineInfoTiles
    .main-tiles-container {
    .small-tiles {
        height: 12rem;
        width: 12rem;
    
        img {
            height: 2.5rem;
            width: 2.5rem;
        }
    
    }
 }

 // styles for AirlineInsightPage
.airline-information-container {
   width: 570px;
   margin-left: auto;
   margin-right: auto;
}

}