// styles in AirlineInsightPage
.airline-information-tile {
  position: relative;
  z-index: 2;
  border-radius: 15px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .airline-logo {
    height: 8rem;
    width: 20rem;
  }
}

.aircraft-fleet-and-orders-tile {
  background: #ffffff;
  margin-top: 17.2rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  line-height: 1.8rem;

  .img-and-h2-container {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.assessment-tile-pilot {
  border-radius: 15px;
  background-color: $pilot-tile-airline;
  background-size: cover;
  padding: 28px;
  margin-left: auto;
  margin-right: auto;
}

.assessment-tile-cabin {
  border-radius: 15px;
  background-color: $cabin-tile-airline;
  background-size: cover;
  padding: 28px;
  margin-left: auto;
  margin-right: auto;
}

.assessment-tile-atc {
  border-radius: 15px;
  background-color: $atc-tile-airline;
  background-size: cover;
  padding: 1.75rem;
  margin-left: auto;
  margin-right: auto;
}

.assessment-tile-list {
  list-style-image: url("../../.././apps/web/assets/images/icons/checkbox.png");
  line-height: 1.8rem;
  p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-style: italic;
  }
}

.airline-benefits-tile {
  border-radius: 15px;
  background: #ffffff;
  margin: 1.5rem auto;
  padding: 1.75rem;
  line-height: 1.8rem;

  .airline-benefits-tile-text {
    color: #727481;

    strong {
      color: #ec008c;
    }
  }
}

// styles in AirlineInfoTiles
.main-tiles-container {
  //display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;
  //justify-content: center;
  // height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0;
  gap: 0.5rem;

  .small-tiles {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    background: #ffffff;
    border-radius: 15px;
    padding: 0.5rem;

    img {
      height: 1.5rem;
      width: 1.5rem;
    }

    h2,
    p {
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 300px) {
  // styles in AirlineInfoTiles
  .main-tiles-container {
    .small-tiles {
      height: 10rem;

      img {
        height: 2rem;
        width: 2rem;
      }

      h2,
      p {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 427px) {
  // styles in AirlineInsightPage
  .aircraft-fleet-and-orders-tile {
    margin-top: 18rem;
  }
}

@media (min-width: 600px) {
  // styles in AirlineInfoTiles
  .main-tiles-container {
    .small-tiles {
      height: 12rem;
      width: 12rem;

      img {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }

  // styles in AirlineInsightPage
  .airline-information-tile {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 770px) {
  // styles in AirlineInfoTiles
  .airline-information-tile {
    top: 20rem;
  }

  .main-tiles-container {
    .small-tiles {
      height: 14rem;
      width: 14rem;
    }
  }

  // styles in AirlineInsightPage
  .aircraft-fleet-and-orders-tile {
    margin-top: 22rem;
  }
}

@media (min-width: 886px) {
  // styles in AirlineInsightPage
  .all-container-except-salaries {
    position: relative;
    z-index: 2;
    top: 20rem;
    margin-bottom: 22rem;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw - 60px);
    display: flex;
    gap: 1.5rem;

    .airline-information-tile {
      top: 0rem;

      .small-tiles {
        height: 12rem;
        width: 12rem;
      }
    }

    .aircraft-fleet-and-orders-tile {
      margin-top: 0rem;
    }

    .assessment-tile-pilot,
    .assessment-tile-cabin,
    .assessment-tile-atc,
    .airline-benefits-tile {
      width: 20rem;
      height: auto;
      margin-top: 1.5rem;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }

    .aircraft-fleet-and-orders-tile {
      width: 20rem;
      height: auto;
      margin: 0;
    }
  }
}

@media (min-width: 1200px) {
  // styles in AirlineInsightPage
  .all-container-except-salaries {
    gap: 2rem;
    max-width: 1100px;

    .airline-information-tile {
      width: 70%;
    }
    .aircraft-and-assessment-container {
      display: flex;
      gap: 2rem;

      .aircraft-fleet-and-orders-tile {
        width: 24rem;
      }
      .assessment-tile-pilot,
      .assessment-tile-cabin,
      .assessment-tile-atc {
        margin: 0;
        width: auto;
      }
    }

    .airline-benefits-tile {
      width: 100%;
      margin-top: 2rem;
    }
  }
}
