// REDO

//Container with the arrows for jobs tiles
.arrow-jobs {
  // Set alignment in container
  text-align: right;
  a {
    display: inline-block;
    color: white;
    font-size: 1.125rem;
    font-weight: 800;
    padding-right: 4.375rem;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -1.25rem;
      height: 2.5rem;
      width: 4.375rem;
      background: url("../assets/images/icons/arrow-right-pink.png") no-repeat
        center center;
    }
  }
}

//Container with the arrows for the FAQ and contact us tiles
.arrow-faqcontact {
  // Set alignment in container
  // text-align: right;
  a {
    display: inline-block;
    color: white;
    font-size: 1.125rem;
    font-weight: 800;
    padding-right: 4.375rem;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -1.25rem;
      height: 2.5rem;
      width: 4.375rem;
      background: url("../assets/images/icons/arrow-right-pink.png") no-repeat
        center center;
    }
  }
}

.dark-text {
  a {
    color: black;
  }
}

//Container with the arrows for the GoBackHome component
.arrow-gobackhome {
  text-align: right;
  a {
    display: inline-block;
    color: #ec008c;
    font-size: 1.125rem;
    font-weight: 800;
    padding-right: 4.375rem;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -1.25rem;
      height: 2.5rem;
      width: 4.375rem;
      background: url("../assets/images/icons/arrow-right-pink.png") no-repeat
        center center;
    }
  }
}


//MOBILE SIZE (S and M)
@media only screen and (max-width: 376px) {

.arrow-jobs {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 2%;
      top: 45%;
      &:after {
        position: relative;
        bottom: 50%;
        top: 0%;
        left: 0%;
        height: 1.563rem;
        width: 2.188rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
  
.arrow-faqcontact {
    a {
      color: transparent;
      font-size: 0rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 5%;
      top: 50%;
      &:after {
        position: relative;
        bottom: 30%;
        top: 0%;
        left: 0%;
        height: 1.25rem;
        width: 1.875rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
}



//MOBILE SIZE (L)
@media only screen and (min-width: 377px) and (max-width:426px) {

.arrow-jobs {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 0%;
      top: 58%;
      &:after {
        position: relative;
        bottom: 0%;
        top: 0%;
        left: 0%;
        height: 1.688rem;
        width: 2.313rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

.arrow-faqcontact {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 0%;
      top: 30%;
      &:after {
        position: relative;
        bottom: 50%;
        top: 0%;
        left: 10%;
        height: 1.375rem;
        width: 2rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
}
  


//TABLET SIZE (THIS SIZE WAS DIVIDED SO THE CONTENT COULD RESPOND PROPERLY TO DIFFERENT SIZES OF SCREEN)
@media only screen and (min-width: 426px) and (max-width: 501px) {

.arrow-jobs {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 5%;
      top: 52%;
      &:after {
        position: relative;
        bottom: 50%;
        top: 0%;
        left: 0%;
        height: 1.813rem;
        width: 2.438rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

.arrow-faqcontact {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 5%;
      top: 28%;
      &:after {
        position: relative;
        bottom: 50%;
        top: 0%;
        left: 10%;
        height: 1.5rem;
        width: 2.125rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
}



//TABLET SIZE (THIS SIZE WAS DIVIDED SO THE CONTENT COULD RESPOND PROPERLY TO DIFFERENT SIZES OF SCREEN)
@media only screen and (min-width: 501px) and (max-width: 769px) {

.arrow-jobs {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 5%;
      top: 63%;
      &:after {
        position: relative;
        bottom: 50%;
        top: 0%;
        left: 0%;
        height: 1.938rem;
        width: 2.563rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

.arrow-faqcontact {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 5%;
      top: 20%;
      &:after {
        position: relative;
        bottom: 50%;
        top: 0%;
        left: 10%;
        height: 1.938rem;
        width: 2.563rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }  
  }
}



//SMALL COMPUTER SIZE
@media only screen and (min-width: 769px) and (max-width:1025px) { 

.arrow-jobs {
    a {
      padding-right: 1.25rem;
      position: absolute;
      padding-bottom: 5rem;
      right: 10%;
      top: 55%;
      &:after {
        bottom: 50%;
        top: 14%;
        left: 95%;
        height: 2.063rem;
        width: 2.688rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

  .arrow-faqcontact {
    a {
      &:after {
        top: 68%;
        left: 65%;
        height: 2.063rem;
        width: 2.688rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
}