// REDO

//Container with the arrows for jobs tiles
.arrow-jobs {
  // Set alignment in container
  text-align: right;
  a {
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    padding-right: 4.375rem;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 45%;
      right: 0;
      margin-top: -1.25rem;
      height: 2.5rem;
      width: 4.375rem;
      background: url("../assets/images/icons/arrow-right-pink.png") no-repeat
        center center;
    }
  }
}

//Container with the arrows for the FAQ and contact us tiles
.arrow-faqcontact {
  // Set alignment in container
  // text-align: right;
  a {
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    padding-right: 4.375rem;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 48%;
      right: 0;
      margin-top: -1.25rem;
      height: 2.5rem;
      width: 4.375rem;
      background: url("../assets/images/icons/arrow-right-pink.png") no-repeat
        center center;
    }
  }
}

.dark-text {
  a {
    color: black;
  }
}

//Container with the arrows for the GoBackHome component
.arrow-gobackhome {
  text-align: right;
  a {
    display: inline-block;
    color: #ec008c;
    font-size: 1.2rem;
    font-weight: 800;
    padding-right: 4.375rem;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -1.25rem;
      height: 2.5rem;
      width: 4.375rem;
      background: url("../assets/images/icons/arrow-right-pink.png") no-repeat
        center center;
    }
  }
}

.onlyButton {
  display: none;
}

//MOBILE SIZE (S and M)
@media only screen and (max-width: 376px) {
.arrow-jobs {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 2%;
      top: 42%;
      &:after {
        content: "";
        display: block;
        position: relative;
        bottom: 50%;
        top: 0%;
        left: 0%;
        margin-left: 1.2rem;
        margin-top: -0.8rem;
        height: 25px;
        width: 35px;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png)
          no-repeat center center;
        background-size: contain;
      }
    }
  }

  .arrow-faqcontact {
    a {
      display: inline-block;
      color: transparent;
      font-size: 0rem;
      font-weight: 800;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 100px;
      right: 5%;
      top: 50%;
      &:after {
        content: "";
        display: block;
        margin-top: 0rem;
        position: relative;
        bottom: 30%;
        top: 0%;
        left: 0%;
        height: 20px;
        width: 30px;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png)
          no-repeat center center;
        background-size: contain;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .arrow-domain {
    display: none;
  }

  .onlyButton {
    display: initial;
  }
}

@media only screen and (min-width: 501px) {
  .arrow-domain {
    // Set alignment in container
    display: contents;
    text-align: right;
    a {
      display: inline-block;
      font-size: 18px;
      font-weight: 800;
      padding-right: 70px;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -20px;
        height: 40px;
        width: 70px;
        background: url("../assets/images/icons/arrow-right-pink.png") no-repeat
          center center;
      }
    }
  }
}



//MOBILE SIZE (L)
@media only screen and (min-width: 377px) and (max-width:426px) {

.arrow-jobs {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 0%;
      top: 52%;
      &:after {
        position: relative;
        bottom: 0%;
        top: 0%;
        left: 0%;
        height: 1.688rem;
        width: 2.313rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

.arrow-faqcontact {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 0%;
      top: 30%;
      &:after {
        position: relative;
        margin-left: 0.4rem;
        bottom: 50%;
        top: 0%;
        left: 10%;
        height: 1.375rem;
        width: 2rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }




}
  

//TABLET SIZE (THIS SIZE WAS DIVIDED SO THE CONTENT COULD RESPOND PROPERLY TO DIFFERENT SIZES OF SCREEN)
@media only screen and (min-width: 426px) and (max-width: 501px) {

.arrow-jobs {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 5%;
      top: 48%;
      &:after {
        position: relative;
        bottom: 50%;
        top: 0%;
        left: 0%;
        height: 1.813rem;
        width: 2.438rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

.arrow-faqcontact {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 5%;
      top: 28%;
      &:after {
        position: relative;
        bottom: 50%;
        top: 0%;
        left: 10%;
        height: 1.5rem;
        width: 2.125rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
}



//TABLET SIZE (THIS SIZE WAS DIVIDED SO THE CONTENT COULD RESPOND PROPERLY TO DIFFERENT SIZES OF SCREEN)
@media only screen and (min-width: 501px) and (max-width: 769px) {

.arrow-jobs {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 5%;
      top: 59%;
      &:after {
        position: relative;
        bottom: 50%;
        top: 0%;
        left: 0%;
        margin-left: 0.4rem;
        height: 1.938rem;
        width: 2.563rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

.arrow-faqcontact {
    a {
      color: transparent;
      font-size: 0.625rem;
      padding-right: 0rem;
      position: absolute;
      padding-bottom: 6.25rem;
      right: 5%;
      top: 20%;
      &:after {
        position: relative;
        bottom: 50%;
        top: 0%;
        left: 10%;
        height: 1.938rem;
        width: 2.563rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }  
  }
}

//SMALL COMPUTER SIZE
@media only screen and (min-width: 769px) and (max-width:1025px) { 

.arrow-jobs {
    a {
      padding-right: 1.25rem;
      position: absolute;
      padding-bottom: 5rem;
      right: 10%;
      top: 55%;
      font-size: 1.125rem;
      &:after {
        bottom: 50%;
        top: 14%;
        left: 95%;
        height: 2.063rem;
        width: 2.688rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }

  .arrow-faqcontact {
    a {
      font-size: 1.125rem;
      &:after {
        top: 68%;
        left: 65%;
        height: 2.063rem;
        width: 2.688rem;
        background: url(/_next/static/media/arrow-right-pink.a45a9e7b.png) no-repeat center center;
        background-size: contain;
      }
    }
  }
}



//Estas Media queries já existem
@media only screen and (max-width: 376px) {

.arrow-gobackhome {
  text-align: center;
  a {
    display: block;
    color: #ec008c;
    font-size: 0.938rem;
    font-weight: 800;
    padding-right: 0rem;
    position: relative;
    &:after {
      content: "";
      display: none;
      position: absolute;
      top: 95%;
      right: 2%;
      margin-top: -1.25rem;
      height: 1.5rem;
      width: 2.125rem;
      background: url("../assets/images/icons/arrow-right-pink.png") no-repeat;
      background-size: contain;
    }
  }
}
}


@media only screen and (min-width: 377px) and (max-width:426px) {
  .arrow-gobackhome {
    text-align: center;
    a {
      display: block;
      color: #ec008c;
      font-size: 0.938rem;
      font-weight: 800;
      padding-right: 2.7rem;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0%;
        top: 0%;
        right: 2%;
        margin-bottom: 0rem;
        margin-top: 0rem;
        height: 1.375rem;
        width: 2rem;
        background: url("../assets/images/icons/arrow-right-pink.png") no-repeat;
        background-size: contain;
      }
    }
  }
}
@media only screen and (min-width: 426px) and (max-width:501px) {

  .arrow-gobackhome {
  text-align: center;
  a {
    display: block;
    color: #ec008c;
    font-size: 1.063rem;
    font-weight: 800;
    padding-right: 2.7rem;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 95%;
      right: 0%;
      margin-top: -1.25rem;
      height: 1.5rem;
      width: 2.125rem;
      background: url("../assets/images/icons/arrow-right-pink.png") no-repeat;
      background-size: contain;
    }
  }
}
}
@media only screen and (min-width: 501px) and (max-width:769px) {
  .arrow-gobackhome {
    text-align: center;
    a {
      display: inline-block;
      color: #ec008c;
      font-size: 1.08rem;
      font-weight: 800;
      padding-right: 3.375rem;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 73%;
        right: 2%;
        margin-top: -1.25rem;
        height: 1.938rem;
        width: 2.563rem;
        background: url("../assets/images/icons/arrow-right-pink.png") no-repeat;
        background-size: contain;
      }
    }
  }
}
@media only screen and (min-width: 769px) and (max-width:1025px) {
  .arrow-gobackhome {
    text-align: center;
    a {
      display: block;
      color: #ec008c;
      font-size: 1.125rem;
      font-weight: 800;
      padding-right: 3.375rem;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 70%;
        right: 2%;
        margin-top: -1.25rem;
        height: 2.063rem;
        width: 2.688rem;
        background: url("../assets/images/icons/arrow-right-pink.png") no-repeat;
        background-size: contain;
      }
    }
  }
}