body {
    font-family: "Nunito", "Open Sans", sans-serif;
    &.bg-header-pilot {
      background: #fafafa url("images/header/subject-header-pilot.png") no-repeat top
          center;
      background-size: 100% auto;
    }
    &.bg-header-cabin {
        background: #fafafa url("images/header/subject-header-cabin.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-atc {
        background: #fafafa url("images/header/subject-header-atc.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue {
        background: #fafafa url("images/header/bg-blue.jpg") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-2 {
        background: #fafafa url("images/header/bg-blue-2.jpg") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-3 {
        background: #fafafa url("images/header/bg-blue-3.jpg") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-4 {
        background: #fafafa url("images/header/bg-blue-4.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-5 {
        background: #fafafa url("images/header/bg-blue-5.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-6 {
        background: #fafafa url("images/header/bg-blue-6.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-7 {
        background: #fafafa url("images/header/bg-blue-7.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-light {
        background: #fafafa url("images/header/bg-blue-light.jpg") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-light-2 {
        background: #fafafa url("images/header/bg-blue-light-2.jpg") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-light-3 {
        background: #fafafa url("images/header/bg-blue-light-3.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-light-4 {
        background: #fafafa url("images/header/bg-blue-light-4.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-light-5 {
        background: #fafafa url("images/header/bg-blue-light-5.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-light-6 {
        background: #fafafa url("images/header/bg-blue-light-6.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-light-7 {
        background: #fafafa url("images/header/bg-blue-light-7.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-light-8 {
        background: #fafafa url("images/header/bg-blue-light-8.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-light-9 {
        background: #fafafa url("images/header/bg-blue-light-9.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-blue-light-10 {
        background: #fafafa url("images/header/bg-blue-light-10.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-red {
        background: #fafafa url("images/header/bg-red.jpg") no-repeat top center;
        background-size: 100% auto;
    }
    &.bg-header-red-2 {
        background: #fafafa url("images/header/bg-red-2.png") no-repeat top center;
        background-size: 100% auto;
    }
    &.bg-header-red-3 {
        background: #fafafa url("images/header/bg-red-3.png") no-repeat top center;
        background-size: 100% auto;
    }
    &.bg-header-red-4 {
        background: #fafafa url("images/header/bg-red-4.png") no-repeat top center;
        background-size: 100% auto;
    }
    &.bg-header-red-5 {
        background: #fafafa url("images/header/bg-red-5.png") no-repeat top center;
        background-size: 100% auto;
    }
    &.bg-header-red-6 {
        background: #fafafa url("images/header/bg-red-6.png") no-repeat top center;
        background-size: 100% auto;
    }
    &.bg-header-red-7 {
        background: #fafafa url("images/header/bg-red-7.png") no-repeat top center;
        background-size: 100% auto;
    }
    &.bg-header-yellow {
        background: #fafafa url("images/header/bg-yellow.jpg") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-yellow-2 {
        background: #fafafa url("images/header/bg-yellow-2.jpg") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-yellow-3 {
        background: #fafafa url("images/header/bg-yellow-3.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-yellow-4 {
        background: #fafafa url("images/header/bg-yellow-4.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-yellow-5 {
        background: #fafafa url("images/header/bg-yellow-5.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-pink-1 {
        background: #fafafa url("images/header/bg-pink-1.jpg") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-pink-2 {
        background: #fafafa url("images/header/bg-pink-2.png") no-repeat top
            center;
        background-size: 100% auto;
    }
    &.bg-header-purple {
        background: #fafafa url("images/header/bg-purple.jpg") no-repeat top
            center;
        background-size: 100% auto;
    }
    scrollbar-color: $scrollbar-background-body;
    &::-webkit-scrollbar,
    & *::-webkit-scrollbar {
        width: 0.6rem;
        background-color: $scrollbar-background-body;
    }
    &::-webkit-scrollbar-thumb,
    & *::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb;
        min-height: 1rem;
    }
    &::-webkit-scrollbar-thumb:focus,
    & *::-webkit-scrollbar-thumb:focus {
        background-color: $scrollbar-thumb-active;
    }
    &::-webkit-scrollbar-thumb:active,
    & *::-webkit-scrollbar-thumb:active {
        background-color: $scrollbar-thumb-active;
    }
    &::-webkit-scrollbar-thumb:hover,
    & *::-webkit-scrollbar-thumb:hover {
        background-color: $scrollbar-thumb-active;
    }
    &::-webkit-scrollbar-corner,
    & *::-webkit-scrollbar-corner {
        background-color: $scrollbar-background-body;
    }
}
