.btn {
  &.btn-pink {
    background: #ec008c;
    border: 1px solid #ec008c;
    color: white;
  }
  &.btn-outline-pink {
    background: transparent;
    border: 2px solid #ec008c;
    color: #ec008c;
    &:hover {
      background: #ec008c;
      color: white;
    }
  }
  &.btn-white {
    background: white;
    border: 1px solid white;
    color: #ec008c;
  }
  &.btn-outline-white {
    background: transparent;
    border: 2px solid white;
    color: white;
    &:hover {
      background: white;
      color: #ec008c;
    }
  }
  &.btn-full-width {
    width: 100%;
  }
  &.btn-rounded {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
  }
  &.btn-block {
    display: block;
  }
  &.btn-arrow {
    margin-top: 11px;
    text-align: left;
    padding-right: 100px;
    padding-left: 25px;
    position: relative;
    font-size: 16px;
    line-height: 32px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 70px;
      height: 21px;
      right: 16px;
      top: 13px;
      background: url("../assets/images/icons/arrow-right-long-white.png") no-repeat center center;
    }
  }
  &.btn-link {
    color: #ec008c;
  }
}