.controlPage {
  min-height: calc(100vh - 440px);
}

.footerQuery {
  margin-top: 310px;
}

  @media screen and (min-width: 768px) {
    .loginPage {
      min-height: calc(100vh - 450px);
    }
  }

  @media only screen and (min-width: 770px) {
    .loginPage {
      min-height: calc(100vh - 530px);
    }

    .footerQuery {
      margin-top: 260px;
    }
  }

  @media only screen and (min-width: 1020px) {
    .loginPage {
      min-height: calc(100vh - 550px);
    }

    .footerQuery {
      margin-top: 245px;
    }
  }