// REDO

//Common info about the container for FAQ and Contact
.faqcontact {
  position: relative;
  img {
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 1.563rem;
    -webkit-box-shadow:  0px 16px 40px rgba(112, 144, 176, 0.25);
    -moz-box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.25);
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.25);
  }


    .faqcontact-textoverlay {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100%;
      color: white;
      padding-bottom: 1.875rem;
      padding-left: 1.875rem;
    
      //Sub text properties
      .faqcontact-subtext {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin-bottom: 0.313rem;
      }
    
      //Main text properties
      .faqcontact-maintextfaq {
        font-size: 2rem;
        font-weight: 900;
        line-height: 2.375rem;
        margin-bottom: 1.563rem;
      }

      .faqcontact-maintextcontact {
        font-size: 2rem;
        font-weight: 900;
        line-height: 2.375rem;
        margin-bottom: 1.563rem;
      }
}

// Properties of the FAQ Container
.faq-container {
  content: "";
  display: block;
  position: absolute;
  bottom: -4.25rem;
  right: -0.5rem;
  width: 6.313rem;
  height: 8.5rem;
  background: url("../assets/images/widget/bg-widget-contact-brand.png")
    no-repeat center center;
}

// Properties of the ContactUs Container
.contactus-container {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.75rem;
  right: -1.25rem;
  width: 13.313rem;
  height: 9.875rem;
  background: url("../assets/images/widget/bg-widget-contact-brand.png")
    no-repeat center center;
}

}



//MOBILE SIZE (S and M)
@media screen and (max-width: 376px) {

  .faqcontact {
      img {
          height: 5.375rem;    
        }
  
      .faqcontact-textoverlay {
          top:30%;
          width: 100%;
          padding-left: 0rem;
        
        .faqcontact-subtext {
          display: none;
        }
      
        .faqcontact-maintextfaq {
          font-size: 0.688rem;
          margin-left: 3.125rem;
        }

        .faqcontact-maintextcontact {
          font-size: 0.688rem;
          margin-left: 1.688rem;
        }
  }
  
  .faq-container {
    height: 6.25rem;
  }
  
  .contactus-container {
    height: 6.25rem;
  }
 }


//This class was built to handle the size of the container FAQ and Contact Us, for just this specific query
.faqcontact-generalcontainer{
  width:50%;
 }
}



//MOBILE SIZE (L)
@media only screen and (min-width: 377px) and (max-width:426px) {

  .faqcontact {
      img {
          height: 5.375rem;
       }
  
      .faqcontact-textoverlay {
          top:35%;
          padding-left: 1.25rem;
        
        .faqcontact-subtext {
          display: none;
        }
      
        .faqcontact-maintextfaq {
          font-size: 0.938rem;
          margin-bottom: 0rem;
        }

        .faqcontact-maintextcontact {
          font-size: 0.938rem;
          margin-bottom: 0rem;
        }
  }
  
  .faq-container {
    height: 6.25rem;
  }
  
  .contactus-container {
    height: 6.25rem;
  }
}
}
  


//TABLET SIZE (THIS SIZE WAS DIVIDED SO THE CONTENT COULD RESPOND PROPERLY TO DIFFERENT SIZES OF SCREEN)
@media only screen and (min-width: 426px) and (max-width:501px) {

    .faqcontact {
        img {
            height: 5.375rem;
         }
    
        .faqcontact-textoverlay {
            top:35%;
            padding-left: 1.25rem;
          
          .faqcontact-subtext {
            display: none;
          }
        
          .faqcontact-maintextfaq {
            font-size: 1.063rem;
            margin-bottom: 0rem;
          }

          .faqcontact-maintextcontact {
            font-size: 1.063rem;
            margin-bottom: 0rem;
          }
    }
    
    .faq-container {
      height: 6.25rem;
    }
    
    .contactus-container {
      height: 6.25rem;
    }
  }
}



//TABLET SIZE (THIS SIZE WAS DIVIDED SO THE CONTENT COULD RESPOND PROPERLY TO DIFFERENT SIZES OF SCREEN)
@media only screen and (min-width: 501px) and (max-width:769px) {

    .faqcontact {
         img {
            height: 6.25rem;
          }
        .faqcontact-textoverlay {
            top:35%;
            padding-left: 0rem;

          .faqcontact-subtext {
            display: none;
          }
        
          .faqcontact-maintextfaq {
            font-size: 1.563rem;
            margin-bottom: 0rem;
            padding-left: 1.875rem;
          }

          .faqcontact-maintextcontact {
            font-size: 1.563rem;
            margin-bottom: 0rem;
            padding-left: 1.875rem;
          }
    }
    
    .faq-container {
      height: 6.25rem;
    }
    
    .contactus-container {
      height: 6.25rem;
    }
  }
}



//SMALL COMPUTER SIZE
@media only screen and (min-width: 769px) and (max-width:1025px) {

.faqcontact {
        .faqcontact-textoverlay {
          padding-bottom: 1.563rem;
        
          .faqcontact-maintextfaq {
            font-size: 1.688rem;
          }

          .faqcontact-maintextcontact {
            font-size: 1.688rem;
          }
    }
  }
}