// // padding adjustment for faq page for header
.search-container {
  z-index: 2;
  position: relative;
  top: 18rem; //has to be 18 rem, otherwise h1 text is overlapping
  margin-bottom: 22rem;
}
.faq-page {
  .faq-search {
    background: white;
    border-radius: 50px;
    position: relative;
    padding: 20px 70px;
    margin-bottom: 4rem;
    .faq-search-input {
      display: block;
      margin: 0;
      outline: none;
      border: none;
      font-size: 16px;
      line-height: 32px;
      height: 32px;
      width: 100%;
      background: transparent;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 19px;
      height: 19px;
      top: 27px;
      left: 33px;
      background: url("../assets/images/icons/search.png") no-repeat center
        center;
    }
  }
  .faq-questions-container {
    z-index: 2;
    position: relative;
    margin-bottom: 5rem;
  }
  .faq-questions {
    background: white;
    padding: 30px 15px;
    border-radius: 35px;
    position: relative;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.25);
    .faq-question-box {
      padding: 0 25px;
    }
    .faq-question {
      font-size: 16px;
      line-height: 24px;
      color: #ec008c;
      font-weight: bold;
      margin-bottom: 8px;
      padding-top: 35px;
    }
    .faq-answer {
      font-size: 13px;
      line-height: 18px;
      color: #727481;
      border-bottom: 1px solid #ececec;
      padding-bottom: 35px;
      a,
      strong {
        color: #ec008c;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .row:last-child {
      .faq-answer {
        border-bottom: none;
      }
    }
    .row:first-child {
      .faq-question {
        padding-top: 0;
      }
    }
  }
  .faq-question-no-row {
    display: none;
    font-size: 16px;
    line-height: 18px;
    color: #727481;
    padding: 25px;
    text-align: center;
    strong {
      color: #ec008c;
      font-weight: bold;
    }
  }
}

//media query for header adjustment
@media only screen and (min-width: 475px) and (max-width: 769px) {
  .search-container {
    top: 16.25rem;
  }
}

@media only screen and (max-width: 474px) {
  .search-container {
    top: 18rem;
  }
  .faq-search {
    margin-bottom: 3rem !important;
  }
}
