// REDO

//Container for the FAQ and Contact us tiles
.containerfaqcontact {
  margin-bottom: 6.875rem;
}


//MOBILE AND TABLET SIZE (ALL SIZES)
@media screen and (max-width: 769px) {
  .containerfaqcontact {
    margin-bottom: 1.875rem;
    padding: 0.625rem;
  }
}
