// REDO

//Container for the FAQ and Contact us tiles
.containerfaqcontact {
  margin-bottom: 110px;
 
}

@media screen and (max-width: 501px) {

  .containerfaqcontact {
    margin-bottom: 50px;
    padding-right: 10px;
    padding: 10px;
    
  }
  
  }

  @media only screen and (min-width: 501px) and (max-width:769px) {
    
    
    .containerfaqcontact {
    margin-bottom: 0px;
    padding-right: 10px;
    padding: 10px;
    height: 200px;
    
  }


}