// REDO

//Footer Element
#footer {
  background-color: #FFFFFF;
  // Container with the SkyHub logo and other links (PP and ToS)
  .footer-linkswithlogo {
    padding-top: 20px;
    padding-bottom: 20px;

    .footer-skyhublogo {
      display: block;
      width: 50%;
      height: 72px;
      background: url("../assets/images/miscellaneous/NewLogoFooter.png") no-repeat center
        center;
      background-size: contain;
    }

    .footer-links {
      a {
        font-size: 16px;
        line-height: 24px;
        font-family: "Nunito", sans-serif;
        color: #727481;
        margin-left: 30px;
      }
    }
  }

  //Copyright Box with Information
  .footer-copyrightbox {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e8e9eb;

    .footer-copyrightinfo {
      color: #727481;
      font-size: 12px;
      line-height: 18px;
      span {
        display: block;
      }
      a {
        color: #727481;
        font-size: 16px;
        line-height: 24px;
      }
    }

    //LinkedIn Container (with link to LinkedIn)
    .footer-linkedin {
      display: inline-block;
      position: relative;
      color: #727481;
      font-size: 12px;
      line-height: 18px;
      padding-right: 110px;
      text-align: left;
      text-decoration: none;
      strong {
        font-size: 16px;
        display: block;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        right: 0;
        width: 81px;
        height: 32px;
        background: url("../assets/images/home/footer-linkedin.png") no-repeat
          center center;
        background-size: contain;
      }
    }
  }
  a {
    color: #727481;
    font-size: 16px;
    line-height: 24px;
  }
}



@media screen and (max-width:426px) {

#footer {
 .footer-linkswithlogo {
      padding-bottom: 7px;
      
      .footer-skyhublogo {
        padding-left: 100px;
        height:45px;
        background-size: 85%;
      }

      .footer-links {
        a {
          font-size: 0.5rem;
          margin-left: 12px;
        }
      }
    }


 .footer-copyrightbox {
      padding-bottom: 5px;
    
      .footer-copyrightinfo {
        font-size: 0.4rem;
        line-height: 7px;
        a {
          font-size: 0.6rem;
        }
      }

      .footer-linkedin {
        font-size: 0.4rem;
        padding-right: 65px;
        strong {
          font-size: 0.6rem;
          line-height: 3px;
        }

        &:before {
          width: 50px;
          height: 20px;
        }
      }
    }
  }
}



@media screen and (min-width: 426px) and (max-width: 769px) {

#footer {
  .footer-linkswithlogo {
      padding-bottom: 7px;

      .footer-skyhublogo {
        padding-left: 100px;
        height:45px;
        background-size: 85%;
      }

      .footer-links {
        a {
          font-size: 0.65rem;
          margin-left: 12px;
        }
      }
    }

  .footer-copyrightbox {
      justify-content: space-between;
      padding-bottom: 5px;
    
      .footer-copyrightinfo {
        font-size: 0.4rem;
        line-height: 8px;
        a {
          font-size: 0.6rem;
        }
      }

      .footer-linkedin {
        font-size: 0.4rem;
        padding-right: 70px;
        strong {
          font-size: 0.6rem;
          line-height: 3px;
        }
        &:before {
          width: 50px;
          height: 20px;
        }
      }
    }
  }
}



@media screen and (min-width:769px) and (max-width: 1025px) {

#footer {
  .footer-linkswithlogo {
      padding-bottom: 5px;
      .footer-links {
        a {
          font-size: 12px;
          margin-left: 12px;
        }
      }
    }
  }
}