#footer {
  background: white;
  .logo {
    display: block;
    width: 69px;
    height: 89px;
    background: url("../assets/images/home/logo-color.png") no-repeat center center;
    background-size: contain;
  }
  .links-top {
    a {
      font-size: 16px;
      line-height: 24px;
      font-family: 'Nunito', sans-serif;
      color: #727481;
      margin-left: 30px;
    }
  }
  .row-links {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .row-copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e8e9eb;
    .copyright {
      color: #727481;
      font-size: 12px;
      line-height: 18px;
      span {
        display: block;
      }
      a {
        color: #727481;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .linked-in {
      display: inline-block;
      position: relative;
      color: #727481;
      font-size: 12px;
      line-height: 18px;
      padding-right: 110px;
      text-align: left;
      text-decoration: none;
      strong {
        font-size: 16px;
        display: block;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        right: 0;
        width: 81px;
        height: 32px;
        background: url("../assets/images/home/footer-linkedin.png") no-repeat center center;
        background-size: contain;
      }
    }
  }
  .footer-branding {
    display: block;
    position: absolute;
    bottom: 8px;
    left: -170px;
    width: 113px;
    height: 84px;
    background: url("../assets/images/home/footer-branding.png") no-repeat center center;
  }
}
