//Go Back Component

//Main container of the component - where every component and text is put together
.goback-maincontainer {
    margin-bottom: 80px;
    
  
    //Container regarding the actual component construction
    .goback-componentcontainer {
      background: white;
      border-radius: 30px;
    }
  }


// Container with all the text properties of the component
.goback-textcontainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito", "Open Sans", sans-serif;
  padding: 40px 30px;

  .goback-subtext {
    color: #a5a5b1;
    font-weight: 700;
    font-size: 16px;
  }

  .goback-maintext {
    color: #010e98;
    font-size: 30px;
    font-weight: 900;

    span {
      color: #19ebce;
    }
  }
}
