//Main container for the header
.header-container {
  position: relative;
  z-index: 2;

  //Container for the header's logo
  .header-logo {
    display: block;
    background: url("../assets/images/home/logo-white.png") no-repeat center center;
    width: 69px;
    height: 89px;
    margin: 40px auto;
  }
  h1 {
    color: white;
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    text-align: center;
    margin: 70px 0;
    strong {
      color: #1aebcf;
    }
  }
}