// REDO

//Main container for the header
.header-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 550px;

  //Container for the header's logo
  .header-logo {
    display: block;
    background: url("../assets/images/miscellaneous/NewLogoHeader.png") no-repeat center center;
    width: 100%;
    height: 5.625rem;
    margin: 2.5rem auto;
  }
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 900;
    text-align: center;
    margin: 4.375rem 0;
    strong {
      color: #1aebcf;
    }
  }
}

//Classes for the Different Headers

//Home page Header
.header-homepage{
  background: url("../assets/images/header/bgHeaderMainPage.png") no-repeat center center;
  background-size: cover;

}

//Headers for independent pages (FAQ, Contact Us, Login, etc)
.header-otherpages{
  background: url("../assets/images/header/bgHeaderForOtherPages.png") no-repeat top center;
  background-size: cover;
  color: $letter-header-white;
}

//Every Pilot Subject Header
.header-pilot{
  background: url("../assets/images/header/bgHeaderBlue.png") no-repeat top center;
  background-size: cover;
  color: $letter-header-white;
}

//Every Cabin Subject Header
.header-cabin{
  background: url("../assets/images/header/bgHeaderYellow.png") no-repeat top center;
  background-size: cover;
  color: $letter-header-black;
}

//Every ATC Subject Header
.header-atc{
  background: url("../assets/images/header/bgHeaderTurquoise.png") no-repeat top center;
  background-size: cover;
  color: $letter-header-black;
}



/*

@media only screen and (max-width: 426px) {
  .header-container {
    position: relative;
    z-index: 2;
    background: url("../assets/images/header/bgHeaderMainPage.png") no-repeat center center;
    background-size: cover;
    height: 46.6666666667vh;
    color: $letter-header-white;
    z-index:2;
 




  
    //Container for the header's logo
    .header-logo {
      display: block;
      background: url("../assets/images/miscellaneous/NewLogoHeader.png") no-repeat center center;
      width: 100%;
      height: 2.625rem;
      margin: 2.5rem auto;
      background-size: contain;
      width: auto;
      height: 4.375rem;
      margin-left: 0rem;
    }
    h1 {
      font-size: 1rem;
      line-height: 3.5rem;
      font-weight: 900;
      text-align: center;
      margin: 4.375rem 0;
      strong {
        color: #1aebcf;
      }
    }
  }
}
*/