// REDO

.mainContainer {
  position: relative;
  transition: all ease 0.1s;

  .overlay {
    width: 100%;

    .subtitle {
      color: $black;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 5px;
    }

    .title {
      color: $black;
      font-size: 32px;
      font-weight: 900;
      line-height: 38px;
      margin-bottom: 25px;
    }
  }
}

.insight-pilot {
  border-radius: 30px;
  background-color: $pilot-tile-airline;
  background-size: cover;
  padding: 30px; //5%;
}

.insight-cabin {
  border-radius: 30px;
  background-color: $cabin-tile-airline;
  background-size: cover;
  padding: 30px; //5%;
}

.insight-atc {
  border-radius: 30px;
  background-color: $atc-tile-airline;
  background-size: cover;
  padding: 30px; //5%;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.imageContainer {
  width: 100%;
  & img {
    border-radius: 3rem;
    transition: all ease 0.5s;
  }
  & img:hover {
    opacity: 0.9;
  }
}

@media only screen and (max-width: 800px) {
  .imageContainer {
    display: none;
  }
}
