// REDO

.containerTitle {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 2rem; //Diogo Changed*/}
  text-align: center; /*Diogo Changed*/
}

.title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 1rem;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.singleContainer {
  min-width: 25%;
  // border: 1px solid rgba(0, 0, 0, 0.107);
  box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.25);
  border-radius: 15px;
  background-color: $body-bg;
  background-size: cover;
  padding: 2rem; //5%;
  transition: all ease 0.1s;

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
}

.title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: $black;
}
.subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 5px;
  text-align: center;
  color: $black;
}

.title,
.subtitle {
  transition: all ease 0.15s;
  &:hover {
    color: $blue;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 320px) and (max-width: 501px) { //*Diogo Changed*/
  .containerTitle {
    font-size: 21px;
  }
  .line {
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    align-content: center;
  }
  .singleContainer {
    max-width: 140px;
    min-width: 140px;
    min-height: 168px;
    max-height: 168px;
  }

  .infoContainer {
    margin: 0 !important;
  }
  .title {
    font-size: 0.9rem !important;
    margin-bottom: 0 !important;
  }
  .subtitle {
    display: none;
  }
  .imageContainer {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 375px) {
  .singleContainer {
    min-width: 40%;
    padding: 1rem;
  }
}
