.login-page {
  background: #FAFAFA;
  height: 100vh;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/images/header/bg-blue-5.png") no-repeat top center;
    background-size: 100% auto;
    // opacity: 0.5;
  }
  #page {
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 212px);
  }
}
.data-input-field {
    border-radius: 20px;
    background-color: #ffffff;
    padding-left: 4rem;
    padding-right: 4rem;
    .login-input {
      background: white;
      border-radius: 50px;
      border: 1px solid grey;
      position: relative;
      margin: 0 auto;
      padding: 0 1rem;
      .account-input-box {
        display: block;
        margin: 0;
        outline: none;
        border: none;
        font-size: 16px;
        line-height: 32px;
        height: 32px;
        width: 100%;
        background: transparent;
      }
      .password-input-box {
        display: block;
        margin: 0;
        outline: none;
        border: none;
        font-size: 16px;
        line-height: 32px;
        height: 32px;
        width: 100%;
        background: transparent;
      }
    }
  }
  .submitButton {
    margin: 0 auto;
    display: none;
  }
  .check-box {
    color: #EC4899;
  } 

  
  // .login-questions-container {
  //   margin-bottom: 70px;
  // }
  // .login-questions {
  //   background: white;
  //   padding: 60px 15px;
  //   border-radius: 35px;
  //   position: relative;
  //   .login-question-box {
  //     padding: 0 25px;
  //   }
  //   .login-question {
  //     font-size: 16px;
  //     line-height: 24px;
  //     color: #ec008c;
  //     font-weight: bold;
  //     margin-bottom: 8px;
  //     padding-top: 35px;
  //   }
  //   .login-answer {
  //     font-size: 13px;
  //     line-height: 18px;
  //     color: #727481;
  //     border-bottom: 1px solid #ececec;
  //     padding-bottom: 35px;
  //     a, strong {
  //       color: #ec008c;
  //       font-weight: bold;
  //       text-decoration: none;
  //     }
  //   }
  //   .row:last-child {
  //     .login-answer {
  //       border-bottom: none;
  //     }
  //   }
  //   .row:first-child {
  //     .login-question {
  //       padding-top: 0;
  //     }
  //   }
  // }
  // .login-question-no-row {
  //   display: none;
  //   font-size: 16px;
  //   line-height: 18px;
  //   color: #727481;
  //   padding: 25px;
  //   text-align: center;
  //   strong {
  //     color: #ec008c;
  //     font-weight: bold;
  //   }
  // }
