// REDO

//Container with the properties about the login button


.loginreg-pink {
  background: $pink;
  border: 0.063rem solid $pink;
  color: $white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 3.125rem;
  padding: 0.688rem 2.5rem;
  white-space: nowrap; 
  min-width: auto;
  // margin-right: 15px;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}

.loginreg-pink-dashboard {
  padding: 0.688rem 1.9rem;
  text-align: center;
 }



.loginreg-pink-adminpanel {
  padding: 0.688rem 1.9rem;
  text-align: center;
}




//Container with the properties about the register button
.loginreg-white {
  background: transparent;
  border: 0.063rem solid $white;
  color: $white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 3.125rem;
  padding: 0.688rem 2.813rem;
  margin-right: 1.25rem;
  font-weight: 600;
  &:hover {
    background: $white;
    color: $pink;
    transition: 0.2s;
    text-decoration: none;
  }
}
.loginreg-logout{
  padding: 0.688rem 2.4rem;
  text-align: center;
 }


//MOBILE SIZE (ALL SIZES)
@media only screen and (max-width: 426px) {

.loginreg-pink {
  padding: 0.25rem 1.05rem;
  font-size: 0.925rem;
 }

.loginreg-white {
  padding: 0.25rem 1.5rem;
  margin-right:0rem;
  margin-bottom: 0.5rem;
  font-size: 0.925rem;
 }

 .loginreg-pink-dashboard {
  padding: 0.25rem 1.05rem;
  text-align: center;
  font-size: 0.925rem;
 }


 .loginreg-pink-adminpanel {
  padding: 0.25rem 1.05rem;
  text-align: center;
  font-size: 0.925rem;
}

}



//TABLET SIZE (ALL SIZES)
@media only screen and (min-width: 426px) and (max-width:769px) {

.loginreg-pink {
    padding: 0.688rem 1.875rem;
    font-size: 1rem;
  }
  
.loginreg-white {
    padding: 0.688rem 2.4rem;
    margin-bottom: 0.5rem;
    margin-right: 0rem;
    font-size: 1rem;
  }
  .loginreg-pink-adminpanel {
    padding: 0.688rem 1.6rem;
    text-align: center;
    font-size: 1rem;
  }
}



//SMALL COMPUTER SIZE
@media only screen and (min-width: 769px) and (max-width:1025px) {

.loginreg-pink {
    padding: 0.688rem 1.875rem;
  }
  
.loginreg-white {
    padding: 0.688rem 2.438rem;
    margin-bottom: 0.5rem;
    margin-right: 0rem;
  }
  .loginreg-pink-adminpanel {
    padding: 0.688rem 1.5rem;
    text-align: center;
  }
  
}



