//Container with the properties about the login button
.loginreg-pink {
  background: $pink;
  border: 1px solid $pink;
  color: $white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 11px 45px;
  margin-right: 15px;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}

//Container with the properties about the register button
.loginreg-white {
  background: transparent;
  border: 2px solid $white;
  color: $white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 11px 45px;
  margin-right: 20px;
  font-weight: 600;
  &:hover {
    background: $white;
    color: $pink;
    transition: 0.2s;
    text-decoration: none;
  }
}

