// REDO

//Main container common to all the static pages
.staticpage{
    position: relative;
    z-index: 2;
    min-height: calc(100vh - 13.25rem);
  }
    

    //Container with the properties for the information/content retrieved from the database
    .staticpage-content {
      position: relative;
      z-index: 2;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 1.563rem;
      background: white;
      margin-bottom: 3.75rem;
      -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  
  
      //Properties of the information/content retrieved from the database
      .staticpage-databaseinfo {
        padding: 2.5rem 1.563rem;
        color: #727481;
        font-size: 1rem;
        line-height: 1.5rem;
        p {
          margin-bottom: 1.25rem;
        }
        hr {
          border: none;
          height: 0.063rem;
          width: 100%;
          background: #e8e9eb;
          margin: 0.938rem 0;
        }
        h2 {
          font-size: 1.25rem;
          line-height: 1.75rem;
          color: #727481;
          font-weight: normal;
          margin-bottom: 1.875rem;
        }
        h3 {
          font-size: 1rem;
          line-height: 1.5rem;
          color: #ec008c;
          font-weight: bold;
          margin-bottom: 1.563rem;
        }
        ul {
          padding-left: 1.563rem;
          margin-bottom: 1.563rem;
          li {
            margin-bottom: 0.938rem;
          }
        }
      }
    }
    
  
    //(Not sure if its necessary)
    .staticpage-company {
      position: relative;
      color: #727481;
      .staticpage-companytext {
        font-size: 0.75rem;
        line-height: 1.125rem;
      }
      .staticpage-companylink {
        a {
          font-size: 1rem;
          font-weight: bold;
          line-height: 1.5rem;
          color: #727481;
          text-decoration: none;
        }
      }
      .staticpage-companyarrow {
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        a {
          display: block;
          width: 1rem;
          height: 0.875rem;
          background: url("../assets/images/icons/arrow-right.png") no-repeat center
            center;
        }
      }
    }