.passwordReset {
  min-height: calc(100vh - 450px);
}

.footerQuery {
  margin-top: 320px;
}

  @media screen and (min-width: 768px) {
    .passwordReset {
      min-height: calc(100vh - 430px);
    }
  }

  @media only screen and (min-width: 770px) {
    .passwordReset {
      min-height: calc(100vh - 520px);
    }

    .footerQuery {
      margin-top: 340px;
    }
  }

  @media only screen and (min-width: 1020px) {
    .passwordReset {
      min-height: calc(100vh - 535px);
    }
  }