.passwordReset {
  min-height: calc(100vh - 430px);
}

.footerQuery {
  margin-top: 300px;
}

  @media screen and (min-width: 768px) {
    .passwordReset {
      min-height: calc(100vh - 430px);
    }
  }

  @media only screen and (min-width: 770px) {
    .passwordReset {
      min-height: calc(100vh - 480px);
    }
  }

  @media only screen and (min-width: 1020px) {
    .passwordReset {
      min-height: calc(100vh - 495px);
    }
  }