.staticpage{
    padding-left:10px;
      position: relative;
      z-index: 2;
      min-height: calc(100vh - 212px);
      background: url("../assets/images/header/bg-blue-5.png") no-repeat top center;
      background-size: 100% auto;
  }
  
  
    //Container with the properties for the information/content retrieved from the database
    .staticpage-content {
      position: relative;
      z-index: 2;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: white;
      margin-bottom: 60px;
      -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  
  
      //Properties of the information/content retrieved from the database
      .staticpage-databaseinfo {
        padding: 40px 25px;
        color: #727481;
        font-size: 16px;
        line-height: 24px;
        p {
          margin-bottom: 20px;
        }
        hr {
          border: none;
          height: 1px;
          width: 100%;
          background: #e8e9eb;
          margin: 15px 0;
        }
        h2 {
          font-size: 20px;
          line-height: 28px;
          color: #727481;
          font-weight: normal;
          margin-bottom: 30px;
        }
        h3 {
          font-size: 16px;
          line-height: 24px;
          color: #ec008c;
          font-weight: bold;
          margin-bottom: 25px;
        }
        ul {
          padding-left: 25px;
          margin-bottom: 25px;
          li {
            margin-bottom: 15px;
          }
        }
      }
    }
    
  
    //(Not sure if its necessary)
    .staticpage-company {
      position: relative;
      color: #727481;
      .staticpage-companytext {
        font-size: 12px;
        line-height: 18px;
      }
      .staticpage-companylink {
        a {
          font-size: 16px;
          font-weight: bold;
          line-height: 24px;
          color: #727481;
          text-decoration: none;
        }
      }
      .staticpage-companyarrow {
        position: absolute;
        top: 10px;
        right: 10px;
        a {
          display: block;
          width: 16px;
          height: 14px;
          background: url("../assets/images/icons/arrow-right.png") no-repeat center
            center;
        }
      }
    }