// Base page setup
.registration-page {
  // height: 100vh;
  // min-height: 900px;
  width: 100%;
  display: block; // Test
  background: url("../assets/images/header/bgHeaderBlue.png") no-repeat top center;
  background-size: 100% auto;
}
