.resetForm {
  min-height: calc(100vh - 430px);
}

.footerQuery {
  margin-top: 300px;
}

  @media screen and (min-width: 768px) {
    .resetForm {
      min-height: calc(100vh - 470px);
    }

    .footerQuery {
      margin-top: 339px;
    }
  }

  @media only screen and (min-width: 770px) {
    .resetForm {
      min-height: calc(100vh - 520px);
    }

  }

  @media only screen and (min-width: 1020px) {
    .resetForm {
      min-height: calc(100vh - 545px);
    }

    .footerQuery {
      margin-top: 350px;
    }
  }