.static-page {
  background: #fafafa url('images/header/bg-blue.jpg') no-repeat top center;
  background-size: 100% auto;
  color: #727481;
}

.static-page-branding {
  position: absolute;
  width: 468px;
  height: 346px;
  background: url('images/header/branding-visual.png') no-repeat center center;
  top: -240px;
  left: -300px;
}

#static-page {
  position: relative;
  z-index: 2;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: white;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  .static-page-content {
    padding: 40px 25px;
    color: #727481;
    font-size: 16px;
    line-height: 24px;
    p {
      margin-bottom: 20px;
    }
    hr {
      border: none;
      height: 1px;
      width: 100%;
      background: #e8e9eb;
      margin: 15px 0;
    }
    h2 {
      font-size: 20px;
      line-height: 28px;
      color: #727481;
      font-weight: normal;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 16px;
      line-height: 24px;
      color: #ec008c;
      font-weight: bold;
      margin-bottom: 25px;
    }
    ul {
      padding-left: 25px;
      margin-bottom: 25px;
      li {
        margin-bottom: 15px;
      }
    }
  }
}

.static-page-company {
  position: relative;
  color: #727481;
  .static-page-company-text {
    font-size: 12px;
    line-height: 18px;
  }
  .static-page-company-link {
    a {
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      color: #727481;
      text-decoration: none;
    }
  }
  .static-page-company-arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    a {
      display: block;
      width: 16px;
      height: 14px;
      background: url('images/icons/arrow-right.png') no-repeat center center;
    }
  }
}