// REDO

//Container With all the Info
.tile-main-container {
  position: relative;
 
  
  .tile-image {
    position: relative;
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      border-radius: 25px;
      -webkit-box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.25);
      -moz-box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.25);
      box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.25);
    }
  }
}


// Container Active Offers
.tile-offers {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  .tile-offerscount {
    font-size: 18px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 40px;
    left: 60px;
    strong {
      font-size: 30px;
      color: #1aebcf;
      font-weight: 800;
    }
    &.pink strong {
      color: #ec008c;
    }
  }
}

// Container "Travel World"
.tile-traveltheworld {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 60px 40px 60px;
  .tile-traveltheworld-subtitle {
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
  .tile-traveltheworld-title {
    font-size: 60px;
    font-weight: 900;
    color: white;
    margin-bottom: 30px;
  }
}

//Container with "Learn More" and arrow
.tile-learnmore {
  text-align: right;
  a {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 800;
    padding-right: 80px;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -11px;
      height: 21px;
      width: 70px;
      background: url("../assets/images/miscellaneous/summary-arrow.png")
        no-repeat center center;
    }
  }
}

//Container with the line in the left!
.tile-leftline {
  display: block;
  position: absolute;
  left: 60px;
  top: 20%;
  height: 40%;
  width: 1px;
  background: white;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background: white;
    top: 0;
    left: -3px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background: white;
    bottom: 0;
    left: -3px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
}



@media only screen and (max-width: 376px) {

.tile-offers {
    .tile-offerscount {
      font-size: 8px;
      top: 20px;
      left: 40px;
      strong {
        font-size: 10px;
      }
    }
  }
  
.tile-traveltheworld {
    top:60%;
    padding:15px 10px 10px 20px;

    .tile-traveltheworld-subtitle {
      display: none;
    }

    .tile-traveltheworld-title {
      font-size: 19px;
      margin-bottom: 0px;
    }
  }
  
.tile-leftline {
    left: 25px;
    top: 35%;
    height: 30%;
  }
}



@media only screen and (min-width: 377px) and (max-width:426px) {

.tile-offers {
    .tile-offerscount {
      font-size: 12px;
      top: 20px;
      left: 40px;
      strong {
        font-size: 10px;
      }
    }
  }
  
.tile-traveltheworld {
    top:60%;
    padding:25px 10px 10px 20px;

    .tile-traveltheworld-subtitle {
      display: none;
    }

    .tile-traveltheworld-title {
      font-size:25px;
      margin-bottom: 0px;
    }
  }
  
.tile-leftline {
    left: 27px;
    top: 25%;
    height: 45%;
  }
}


@media only screen and (min-width: 426px) and (max-width:501px) {

  .tile-offers {
      .tile-offerscount {
        font-size: 14px;
        top: 20px;
        left: 40px;
        strong {
          font-size: 12px;
        }
      }
    }
    
  .tile-traveltheworld {
      top:60%;
      padding:25px 10px 10px 20px;
  
      .tile-traveltheworld-subtitle {
        display: none;
      }
  
      .tile-traveltheworld-title {
        font-size:27px;
        margin-bottom: 0px;
      }
    }
    
  .tile-leftline {
      left: 27px;
      top: 25%;
      height: 45%;
    }
  }
  






@media only screen and (min-width: 501px) and (max-width:769px) { 

.tile-offers {
  .tile-offerscount {
      font-size: 16px;
      top: 30px;
      left: 55px;
      strong {
        font-size: 14px;
      }
    }
 }

.tile-traveltheworld {
 top:60%;
 padding: 37px 10px 10px 30px;

.tile-traveltheworld-subtitle {
   display: none;
  }

.tile-traveltheworld-title {
   font-size:38px;
   margin-bottom: 0px;
  }
 }

.tile-leftline {
  left: 40px;
  top: 25%;
  height: 45%;
 }
}





@media only screen and (min-width: 769px) and (max-width:1025px) { 

.tile-offers {
 .tile-offerscount {
   font-size: 17px;
   top: 30px;
   left: 65px;
   strong {
     font-size: 10px;
   }
  }
 }

.tile-traveltheworld {
 top:60%;
 padding:40px 10px 10px 40px;

 .tile-traveltheworld-subtitle {
  font-size: 17px;
  }

.tile-traveltheworld-title {
   font-size:40px;
   margin-bottom: 0px;
  }
 } 

.tile-leftline {
 left: 45px;
 top: 20%;
 height: 45%;
 }
}