// LEGACY - BUT YOU CAN USE IT

// background for Home, Jobs
$body-bg: #fafafa;

// Colors
$pink: #ec008c;
$black: #000000;
$white: #fff;
$blue: #010e98;
$white-tilesbg: #fafafa;
$pilot-tile-airline: #c7d2fe;
$cabin-tile-airline: #fef3c7;
$atc-tile-airline: #9af5e9;
$letter-header-black: #222351;
$letter-header-white: #fff;

// Scrollbar
$scrollbar-background: transparent;
$scrollbar-thumb: #000e94;
$scrollbar-thumb-active: #0e21ca;
$scrollbar-background-body: #bfc0ce;
